.header{
    display: flex;
    width: 1380px;
    height: 112px;
    padding: 2px 38px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: #FAF3DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #FAF3DD;
}

.menu-container {
    position: relative;
    margin-right: 3%;
}

.burger {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 25px;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
}

.bar {
    width: 70px;
    height: 4px;
    background: #4A7C59;
}

.nav {
    position: fixed;
    top: 0;
    left: -40%;
    width: 40%;
    height: 100%;
    background-color: #FAF3DD;
    padding: 20px;
    transition: left 0.3s ease;

}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    margin: 20px 0;
}

.nav ul li a {
    color: #284732;
    text-decoration: none;
    text-align: center;
    font-family: "Staatliches";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.nav.open {
    left: 0;
}

.texte {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 310px;
    height: 108px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 50px;
    box-sizing: border-box;
}

.histoire{
}

.galerie{
}

.infos{
}

.footer {
    position: absolute;
    top: 2605px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0);
    width: 1432px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 83px;
    box-sizing: border-box;
    color: #4a7c59;
}

.nos-partenaires {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 1440px;
    height: 123px;
}

.add-youtube-videos-and-player {
    position: relative;
    width: 440px;
    height: 523px;
}
.video-icon {
    position: absolute;
    top: 823px;
    left: 0px;
    width: 720px;
    height: 497px;
    object-fit: cover;
}
.key-component {
    position: relative;
    width: 160px;
    height: 160px;
}
.youtube {
    position: relative;
    width: 9882px;
    height: 1320px;
}
