.header{
    display: flex;
    max-width: 1440px;
    height: 112px;
    padding: 2px 38px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: #FAF3DD;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #FAF3DD;
    padding-top: 112px
}

.menu-container {
    position: relative;
    margin-right: 3%;
}

.burger {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 25px;
    justify-content: space-between;
    cursor: pointer;
    z-index: 3;
}

.bar {
    width: 70px;
    height: 4px;
    background: #4A7C59;
}

.nav {
    position: fixed;
    top: 0;
    left: -40%;
    width: 40%;
    height: 100%;
    background-color: #FAF3DD;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 3;

}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    margin: 20px 0;
}

.nav ul li a {
    color: #284732;
    text-decoration: none;
    text-align: center;
    font-family: "Staatliches";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.nav.open {
    left: 0;
}

.hero-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  background-color: #315E5B !important;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}

.hero-section p {
   color: #FAF3DD;
   font-family: 'Noto Serif', serif;
   font-size: 20px;
   width: 50%; /* Largeur de la partie gauche */
   padding: 10px; /* Espacement intérieur */
   text-align: left;
}

.hero-section img {
  height: auto;
  width: 50%;
  object-fit: cover;
  position: relative;
}

.hero-section h1 {
  color: #315E5B;
  font-family: 'Road Rage', cursive;
  font-size: 80px;
  position: absolute;
  top: 50%; /* Centrer verticalement */
  left: 50%; /* Centrer horizontalement */
  transform: translate(-50%, -50%); /* Ajustement précis pour centrer */
  z-index: 1;
}

.info-section {
  background-color: #8FC0A9;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  position: relative;
}

.info-section h2 {
  color: #315e5b;
  font-size: 50px;
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  font-family: 'Staatliches';
  width: 100%
}

.info-section h3 {
  color: #315e5b;
  font-family: 'Staatliches';
  font-size: 30px;
}

.info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  color: #315e5b;
  font-family: 'Noto Serif', serif;
}

.info-grid div {
  flex: 1 1 300px;
  padding: 20px;
  border-radius: 8px;
}

.press-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    position: relative;
}

.press-section h2 {
  position: relative;
  font-size: 40px;
  color: #315e5b;
  text-align: center;
  display: inline-block;
  margin-left: 800px;
  font-family: 'Staatliches';
}
    
.press-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* Conteneur de la vidéo responsive */
video-container {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.press-content ul {
  flex: 1 1 300px;
  list-style: none;
}

.press-content ul li {
  margin-bottom: 10px;
}

.press-content ul li a {
  color: #396956;
  text-decoration: none;
  transition: color 0.3s;
}

.press-content ul li a:hover {
  color: #123524;
}

.partners-section h2 {
  color: #315e5b;
  text-align: center;
  font-family: "Staatliches";
  font-size: 40px;
}

.partners-grid {
  border: 4px solid #8FC0A9; /* Couleur et épaisseur du contour */
  border-radius: 20px; /* Arrondir les coins */
  padding: 20px; /* Espacement entre le contenu et le bord du contour */
  width: 90%; /* Ajuster la largeur selon vos besoins */
  margin: 0 auto; /* Centrer le conteneur */
  display: flex;
  flex-wrap: wrap; /* Autoriser le retour à la ligne des logos */
  justify-content: center; /* Centrer les logos horizontalement */
  align-items: center; /* Centrer les logos verticalement */
  gap: 20px;
}

.partners-grid img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.partners-grid img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 85px;
    gap: 20px;
    margin-top: 3vw;
}

#text-links-container {
    display: flex;
    flex-direction: column;
}
  
.text-links {
    color: #4a7c59;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    text-decoration-line: underline;
}

#icon-links-container {
    display: flex;
    gap: 30px;
}

@media screen and (max-width:1024px){
footer {
        padding: 0 85px;
        gap: 20px;
        margin-top: 5vw;
    }
    .partenaires img{
        width: 120px;
    }       
    .text-links {
        font-size: 15px;
        line-height: 160%;
    }
    #icon-links-container {
        gap: 25px;
    }
  }

@media (max-width: 768px) {
  .header {
      flex-direction: column;
      height: auto;
      padding: 20px;
  }
  .logo {
      max-width: 80px; /* Réduit la taille des logos sur mobile */
  }
  .partners {
      flex-direction: column;
      align-items: center;
  }
  .logos-container {
      flex-direction: column;
      gap: 15px;
  }
  .text-section {
      font-size: 36px; /* Réduit la taille de la police sur petit écran */
  }
}

@media (max-width: 480px) {
  .text-section {
      font-size: 28px; /* Taille de la police sur très petit écran */
  }
  .logo {
      max-width: 60px; /* Réduit encore la taille des logos */
  }
}
