* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif";
  display: flex;
  gap: 30px;
  flex-direction: column;
  background: #faf3dd;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 112px;
  padding: 2px 38px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #faf3dd;
  position: fixed;
  top: 0;
  z-index: 900;
}

.burger {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 25px;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}

.bar {
  width: 70px;
  height: 4px;
  background: #4a7c59;
}

.nav {
  position: fixed;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100%;
  background-color: #faf3dd;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
  @media (max-width: 1100px) {
    left: -140%;
    width: 40%;
  }
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  margin: 20px 0;
}

.nav ul li a {
  color: #284732;
  text-decoration: none;
  text-align: center;
  font-family: "Staatliches";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;

  @media (max-width: 480px) {
    font-size: 48px;
  }
}

.nav.open {
  left: 0;
}

#lines-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.line {
  width: 94px;
  height: 5px;
  background: #4a7c59;
}

#title {
  color: #4a7c59;
  text-align: center;
  font-family: "Road Rage";
  font-size: 230px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 70px;
  margin-top: 112px;
  @media (max-width: 1400px) {
    font-size: 160px;
  }

  @media (max-width: 1000px) {
    font-size: 120px;
  }
  @media (max-width: 650px) {
    font-size: 100px;
  }
}

.text-margin {
  margin: 0 50px;
  @media (max-width: 1300px) {
    margin: 0 30px;
  }
}

#top-image-container {
  display: flex;
  gap: 60px;
  align-items: start;
  justify-content: space-between;

  @media (max-width: 1300px) {
    flex-direction: column;
  }
}

#top-image-container p {
  @media (max-width: 1300px) {
    margin: 0 30px;
  }
}


#artist-image {
  @media (max-width: 1300px) {
    width: 100%;
  }

  @media (max-width: 1000px) {
    width: 100%;
    height: 400px;
  }
}

#bottom-image-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-left: 50px;

  @media (max-width: 1000px) {
    flex-direction: column;
    margin: 0 30px;
  }
}

#text-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#grandma-image {
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.main-text {
  color: #4a7c59;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @media (max-width: 1100px) {
    font-size: 25px;
  }
}

#columns-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #4a7c59;
  gap: 50px;

  @media (min-width: 1440px) {
    gap: 100px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    padding: 20px;
  }
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 340px;
}
.column-header {
  color: #faf3dd;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.column-text {
  color: #faf3dd;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 85px;
  gap: 20px;
  margin-top: 3vw;
}

#text-links-container {
  display: flex;
  flex-direction: column;
}

.text-links {
  color: #4a7c59;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-decoration-line: underline;
}

#icon-links-container {
  display: flex;
  gap: 30px;
}

@media screen and (max-width:1024px){
  footer {
    padding: 0 85px;
    gap: 20px;
    margin-top: 5vw;
}

.partenaires img{
    width: 120px;
}
      
.text-links {
    font-size: 15px;
    line-height: 160%;
}

#icon-links-container {
    gap: 25px;
}
}
