* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif";
  display: flex;
  flex-direction: column;
  background: #faf3dd;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 38px;
}

#lines-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.line {
  width: 94px;
  height: 5px;
  background: #4a7c59;
}

#title-image {
  width: 1000px;
  margin: 30px auto 50px;
}

#cochons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("./images/cows.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  gap: 50px;
  padding: 40px 230px 20px 20px;
}

#sausice-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("./images/sausige.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  gap: 50px;
  padding: 40px 20px 20px 230px;
}
#bottom-container {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

#bottom-images-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px 0 30px 100px;
}

.heading-container {
  display: flex;
  gap: 60px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.small-text {
  color: #faf3dd;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.large-text {
  color: #faf3dd;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

h1 {
  color: #faf3dd;
  text-align: center;
  font-family: Staatliches;
  font-size: 190px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: #faf3dd;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-button {
  font-family: "Noto Serif";
  background-color: #faf3dd;
  color: rgba(22, 94, 44, 0.86);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  border-radius: 20px;
  padding: 6px 12px;
  border: none;
}

#bottom-title {
  margin: 0 auto;
}
#bottom-button {
  font-family: "Noto Serif";
  background-color: #68b0ab;
  color: #faf3dd;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  border-radius: 20px;
  padding: 6px 12px;
  border: none;
}

#bottom-small-text {
  color: #68b0ab;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#bottom-large-text {
  color: #68b0ab;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#bottom-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 85px;
  margin-bottom: 65px;
}

#text-links-container {
  display: flex;
  flex-direction: column;
}

.text-links {
  color: #4a7c59;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-decoration-line: underline;
}

#icon-links-container {
  display: flex;
  gap: 30px;
}
