* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif";
  display: flex;
  gap: 30px;
  flex-direction: column;
  background: #faf3dd;
  max-width: 760px;
  margin: 0 auto;
  padding: 40px;
}

p {
  line-height: 25px;
}

h4 {
  padding-bottom: 5px;
}

a {
  color: inherit;
}

